<form method="post" action="/articles">
    <p>
    <label for="title">Title</label>
    <input id="title" type="text" name="title" />
    </p>

    <p>
    <label for="content">Content</label>
    <input id="content" type="text" name="content" />
    <input type="submit" />
    </p>
    </form>
